
  #wrapper {
    width: 100vW;
    height: 100vh;
    margin: 0 auto;
  }
  
  #nav > ul {
    font-weight: bold;
    font-size: 130%;
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 0;
  }
  
  #nav > ul > li {
    list-style: none;
    margin: 18px;
    cursor: pointer;
  }
  
  #line {
    position: absolute;
    height: 2px;
    margin-bottom: 0px;
    background-color: black;
    transition: .6s ease-out;
  }

  
  #contents__list {
    width: 400%;
    display: flex;
    transition: .6s ease-out;
  }
  
  #contents__item {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  img{
    width: 100%;
    text-align: center;
  }

  .item_wrap {
    height: 350px;
    width: 30%;
    margin: 15px;
  }

  .item_wrap .hover-img {
    display: none;
  }

  .item_wrap > .item_title{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
  }
  .item_wrap > .item_title > a{
    color: black;
  }

  .item_wrap > .item_cost {
    font-size: 110%;
    text-align: center;
    margin: 20px;
  }

  .item_cost > a {
    color : gray;
  }

  .item_button > div {
    margin-top: 20px;
    margin: auto;
  }
  .item_wrap a{
    text-decoration: none;
  }

  .item_button {
    display: none;
  }

  .item_button > .hover-btn {
    text-align: center;
    margin: 20px;
  }
  
  .hover-btn {
    margin:20px;
    font-weight: bold;
    font-size: 120%;
  }

  .hover-btn > a {
    color: black;
  }